[submodule ".src/emperor"]
	path = .src/emperor
	url = https://github.com/emperor-lang/emperor
[submodule ".src/emperor-base"]
	path = .src/emperor-base
	url = https://github.com/emperor-lang/base
[submodule ".src/emperor-setup"]
	path = .src/emperor-setup
	url = https://github.com/emperor-lang/emperor-setup
